# Datoteka example.config
# Primjer konfiguracije, popis svih varijabli.
# Kopirajte u app.config i unesite ispravne podatke.

DATABASE_HOST = 'db_host';
DATABASE_USER = 'user';
DATABASE_PASS = 'password';
DATABASE_DB = 'db_name';
 
SESSION_TYPE = 'cachelib';
SESSION_PERMANENT = False;



MAIL_SERVER = 'smtp-relay.brevo.com';
MAIL_PORT = 587;
MAIL_USE_TLS = True;
MAIL_USE_SSL = False;

# "SMTP Login" iz Brevo (Settings->SMTP & API)
MAIL_USERNAME = 'neki-broj@smtp-brevo.com';

# "SMPT key value" iz Brevo (Settings->SMTP & API)
MAIL_PASSWORD = 'dugi-niz-znakova';

# Umjesto email@example.com: adresa iz Brevo Settings->Senders, domains, IPs.
MAIL_DEFAULT_SENDER = ('Ime pošiljatelja', 'email@example.com');