* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body
{
    font-family: Verdana;
    font-size: 12pt;
    background-color: rgb(151, 131, 151);
    color: black;
} 

table, td, th
{
    border: solid 1px black;
    border-collapse: collapse;
}

td, th
{
    padding: 5px;
}

header {
    background-color: rgb(228, 205, 33);
    color: black;
    padding: 20px;
    text-align: left;
    margin-bottom: 0;
    border-bottom: 2px solid #d4cc00;
}

header h1 {
    margin: 0;
    padding: 0;
}

header p {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(228, 205, 33);
    padding: 10px;
    text-align: center;
    margin-top: 0;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 5px;
}

nav a:hover {
    background-color: #eeff00;
}