* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body
{
    font-family: Verdana;
    font-size: 12pt;
    background-color: rgb(151, 131, 151);
    color: black;
} 

table, td, th
{
    border: solid 1px black;
    border-collapse: collapse;
}

td, th
{
    padding: 5px;
}

header {
    background-color: rgb(228, 205, 33);
    color: black;
    padding: 20px;
    text-align: left;
    margin-bottom: 0;
    border-bottom: 2px solid #d3cc0a;
}

header h1 {
    margin: 0;
    padding: 0;
}

header p {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(231, 188, 44);
    padding: 10px;
    text-align: center;
    margin-top: 0;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 5px;
}

nav a:hover {
    background-color: rgb(231, 196, 79);
}

nav a.active {
    background-color: rgb(228, 205, 33);
    color: black;
    font-weight: bold;
}

.login_register_main {
    text-align: center;
    margin: 10px;
}

.login_register_content {
    display: inline-block;
    text-align: left;
    margin: 10px;
}

.login_register_input {
    border: 2px solid rgb(228, 205, 33);
    border-radius: 8px;
    width: 100%;
    padding: 8px;
}

.login_register_button {
    background-color: rgb(228, 205, 33);
    float: right;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.quack {
    background-color: rgb(182, 163, 182);
    margin: 5px;
    border: 1px solid rgb(199, 170, 199);
    border-radius: 5px;
}

.quack_username {
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.quack_text {
    margin: 7px;
}

.quack_datetime {
    margin: 5px;
    text-align: right;
}

.quack_follow_hashtag_input {
    border: 2px solid rgb(231, 188, 44);
    border-radius: 8px;
    width: 100%;
    padding: 8px;
    margin: 15px 0;
}

.quack_follow_hashtag_button {
    background-color: rgb(228, 205, 33);
    float: right;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.user_username {
    background-color: rgb(182, 163, 182);
    margin: 5px;
    border: 1px solid rgb(199, 170, 199);
    border-radius: 5px;
}