<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Quack</title>
</head>
<body>
    <header style="display: flex; align-items: center; justify-content: center; gap: 15px; margin-bottom: 20px;">
        <img src="/static/quack.png" alt="duck" style="width: 100px;">
        <span class="title">
            <h1 class="title">Quack</h1>
            <p><strong>PMF social network©</strong></p>
        </span>
    </header>
    <nav>
        <a href="/myquacks">My Quacks</a>
        <a href="/feed">Feed</a>
        <a href="/followers">Followers</a>
        <a href="/mentions">Mentions</a>
        <a href="/hashtags">Hashtags</a>
    </nav>

    

    {% block contents %}{% endblock %}
</body>
</html> 
