<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Quack</title>
</head>
<body>
    <header>
        <h1>Quack</h1>
        <p>PMF social network©</p>
    </header>
    <nav>
        <a href="/myquacks">My Quacks</a>
        <a href="/feed">Feed</a>
        <a href="/followers">Followers</a>
        <a href="/mentions">mentions</a>
        <a href="/hashtags">Hashtags</a>
    </nav>

    

    {% block contents %}{% endblock %}
</body>
</html> 
