{% extends '_layout.html' %}

{% block contents %}

<div class="follow_user">
    <form action="/feed" method="post">
        <input type="text" name="username">
        <input type="submit" value="Follow">
        <br>
        {{ msg }}
    </form>
</div>
<ul class="quacks">
    {% for quack in quacks %}
        <li class="quack">
            <h3 class="quack_username">{{ quack.username }}</h3>
            <div class="quack_text">{{ quack.quack }}</div>
            <div class="quack_datetime">{{ quack.date }}</div>
        </li>
    {% endfor %}
</ul>

{% endblock %}