{% extends '_layout.html' %}

{% block contents %}

<div class="post_quack">
    <form action="/myquacks" method="post">
        <input type="text" name="post_quack" class="quack_follow_hashtag_input">
        <br>
        <input type="submit" value="Quack!" class="quack_follow_hashtag_button">
        <br><br>
        {{ msg }}
    </form>
</div>

<ul class="quacks">
    {% for quack in quacks %}
        <li class="quack">
            <h3 class="quack_username">@{{ quack.username }}</h3>
            <div class="quack_text">{{ quack.quack | safe }}</div>
            <div class="quack_datetime">{{ quack.date }}</div>
        </li>
    {% endfor %}
</ul>

{% endblock %}